* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Body styling */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #05132f;
  }
  
  /* Container styling */
  .todo-container {
    background-color: #c0d6e7;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  /* Title styling */
  .todo-container h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  /* Input styling */
  #todo-input {
    padding: 10px 12px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-bottom:10px;
  }
  
  /* Add button styling */
  button {
    padding: 10px;
    width: 15%;
    border: none;
    border-radius: 7px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  /* List styling */
  #todo-list {
    list-style: none;
    margin-top: 1rem;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
  }
  
  /* Individual item styling */
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-bottom: 15px;
  }
  
  /* Task completed styling */
  .todo-item.completed .task {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Complete button styling */
  .complete-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Delete button styling */
  .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    border-radius: 4px;
  }